body {
  margin: 0;
  padding: 0;
  background-image: url('images/bg.png');
  background-position: center top;
  background-size: cover;
}

#banner {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

#banner img {
  height: auto;
  width: 120%;
  margin-bottom: 50px;
}

#banner img#title {
  height: auto;
  width: 80%;
  margin: 80px auto 50px auto;
}

#stars {
  align-self: flex-end;
}

#mapid {
  height: 100%;
}

@media screen and (min-width: 650px) {

  #banner {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }

  #banner img {
    height: auto;
    width: 100%;
  }

  #banner img#title {
    height: auto;
    width: 60%;
    margin: 70px auto;
  }

}

@media screen and (min-width: 800px) {

  #banner {
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
  }

  #banner img {
    height: 100%;
    width: auto;
    margin-bottom: 0px;
  }

  #banner img#title {
    height: 60%;
    margin: auto 0px auto 40px;
    width: auto;
  }

}
